<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string></string>
	</array>
	<array>
		<string>work</string>
		<string>Work</string>
	</array>
	<array>
		<string>chores</string>
		<string>Vacuum</string>
	</array>
	<array>
		<string>chores</string>
		<string>Mop</string>
	</array>
	<array>
		<string>chores</string>
		<string>Groceries</string>
	</array>
	<array>
		<string>chores</string>
		<string>Deep Clean</string>
	</array>
	<array>
		<string>chores</string>
		<string>Laundry</string>
	</array>
	<array>
		<string>learning</string>
		<string>Read</string>
	</array>
	<array>
		<string>learning</string>
		<string>In-Person Class</string>
	</array>
	<array>
		<string>learning</string>
		<string>Online Class</string>
	</array>
	<array>
		<string>learning</string>
		<string>Learn a New Language</string>
	</array>
	<array>
		<string>learning</string>
		<string>Study</string>
	</array>
	<array>
		<string>fitness</string>
		<string>Meditate</string>
	</array>
	<array>
		<string>fitness</string>
		<string>Yoga</string>
	</array>
	<array>
		<string>fitness</string>
		<string>Stretch</string>
	</array>
	<array>
		<string>fitness</string>
		<string>Weightlfiting</string>
	</array>
	<array>
		<string>fitness</string>
		<string>Run</string>
	</array>
</array>
</plist>
